body {
  background: #cc66ff;
}


/* LogInForm.js */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}

.login-main{
  width: 500px;
}
