body {
  background: #cc66ff;
  overflow: hidden;
}


/* LogInForm.js */

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

.login-main{
  width: 500px;
}



/* ChatBox.js */

.chatbox{
  display: grid;
  width: 25%;
  height: 100vh;
  grid-template-rows: 10fr 1fr;
}

.chat-container{
  width: 100%;
  overflow-y: scroll;
}

.chat-input{
  display: flex;
  align-items: center;
}



/* Message.js */

.message{

}

.username{

}

.message-text{
  text-indent: 1em;
  margin-bottom: 1.5em;
}

.dealer{

}

.players{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.player-one, .player-five{
  display: flex;
  height: 800px;
  align-items: baseline;
}

.player-two, .player-three, .player-four{
  display: flex;
  height: 800px;
  align-items: flex-end;
}


/* DealerBox.js */

.dealer-box{
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}


/* PlayerBox.js */

.player-box{
  display: grid;
  width: 380px;
  justify-items: center;
  padding: 5px;
}


/* Counter.js */

.counter{
  width: 360px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}




/* Card.js */

.card{
  width: 70px;
  height: 90px;
}

.number{
  text-align: center;
}

.suit-bottom{
  text-align: right;
}



/* Hand.js */

.hand{
  display: flex;
  width: 360px;
  height: 110px;
  justify-content: center;
  align-items: center;
}


/* Dealer.js */

.dealer-info{
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 170px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}


/* UserInfo.js */

.user-info{
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 225px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.user-dp{
  width: 125px;
}

.empty:hover{
  background: #f4f4f4;
}



/* Chips.js */

.chips{
  display: flex;
  width: 225px;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}

.chip{
  display: flex;
  width:35px;
  height: 35px;
  justify-content: center;
  align-items: center;
}



/* Bets.js */

.bets{
  display: flex;
  width: 225px;
  height: 125px;
  justify-content: space-around;
  align-items: center;
}

.bet{
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.lucky-lucky{
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}



/* PlayerCommands.js */

.player-commands{
  display: flex;
  width: 270px;
  height: 30px;
  justify-content: space-around;
  align-items: center;
}

.hit{
  width: 65px;
}

.stay{
  width: 65px;
}

.double{
  width: 65px;
}

.exit{
  width: 65px;
}


/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 50px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
