body {
  background: #137752;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* LogInForm.js */
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;
}

.login-main{
  width: 500px;
}

.buttons{
  display: flex;
}


/* ChatBox.js */
.chatbox{
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-rows: 0.75fr 12fr 1fr;
}
.chat-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-container{
  width: 100%;
  overflow-y: scroll;
}
.chat-input{
  display: flex;
  align-items: center;
}


/* Message.js */
.message{
  width: 100%;
}
.message-info{
  line-height: 0.25em;
}
.timestamp{
  padding-left: 2%;
  padding-right: 2%;
}
.username{
  padding-left: 3%;
  padding-right: 3%;
}
.message-text{
  padding-left: 6%;
  padding-right: 6%;
  margin-bottom: 1.5em;
}


/* Messenger.js */
.messenger{
  width: 100%;
}


/* Card.js */
.card{
  text-align: center;
  width: 32.5px;
}


/* Hand.js */
.hand{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 2px;
  overflow-x: hidden;
}




/* Table.js */
.table{
  width: 100%;
  display: grid;
  grid-template-rows: 205px 125px auto;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.players{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
  bottom: 50px;
  justify-items: center;
}
.player-one, .player-five{
  display: flex;
  align-items: baseline;
}
.player-two, .player-three, .player-four{
  display: flex;
  align-items: flex-end;
}

/* Info.js */
.info{
  display: flex;
  position: fixed;
  width: 50px;
  height: 50px;
  left: 25px;
  top: 25px;
  align-items: center;
  justify-content: center;
}

.info:hover{
  background: #111111;
}


/* Modal.js */
.modal{
  position: fixed;
  background-color: #111111;
  margin: 20px;
  width: 72.5%;
  height: 95%;
  z-index: 1;
  visibility: hidden;
  opacity: 0.75;
  overflow-y: scroll;
}
.modal-exit{
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 15px;
  top: 15px;
  align-items: center;
  justify-content: center;
}
.modal-exit:hover{
  background: #f4f4f4;
}
.lucky-payout{
  line-height: 0.25em;
}


/* DealerBox.js */
.dealer-box{
  width: 100%;
  display: grid;
  grid-template-columns: 250px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.text-box{
  display: block;
  width: 20%;
  position: fixed;
  text-align: center;
  left: 50%;
  top: 25px;
}


/* Dealer.js */
.dealer-info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin-top: 25px;
}
.dealer-count{
  width: 100%;
  text-align: center;
}


/* TableRules.js */
.table-rules{
  width: 100%;
  text-align: center;
  line-height: 0;
  margin-top: 50px;
  font-size: 1.5em;
}
.table-rules p:nth-child(even){
  font-size: 2em;
}


/* PlayerBox.js */
.player-box{
  display: grid;
  padding: 5px;
  text-align: center;
}


/* Counter.js */
.counter{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.counter-item{
  display: grid;
  grid-template-rows: 35px 35px;
  justify-items: center;
}
.counter-item p{
  align-self: center;
}


/* Bets.js */
.bets{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.bet{
  display: flex;
  width: 40%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.lucky-lucky{
  display: flex;
  width: 40%;
  height: 100px;
  justify-content: center;
  align-items: center;
}


/* Chips.js */
.chips{
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.chip{
  display: flex;
  width:25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}


/* PlayerCommands.js */
.player-commands{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.hit{
  width: 65px;
}
.stay{
  width: 65px;
}
.double{
  width: 65px;
}
.exit{
  width: 65px;
}


/* UserInfo.js */
.user-info{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.user-dp{
  width: 75px;
}

.empty{
  align-items: center;
}

.empty:hover{
  background: #f4f4f4;
}


@media screen and (max-width: 1364px){
  .App{
    display: grid;
    grid-template-columns: 80% 20%;
  }

  /* Table.js */
  .table{
    grid-template-rows: 100px 75px auto;
  }
  .players{
    bottom: 15px;
  }

  /* Dealer.js */
  .dealer-info{
    margin-top: 5px;
    flex-wrap: wrap;
    font-size: 0.8em;
  }
  .dealer-count{
    width: 100%;
    font-size: 0.8em;
    text-align: center;
  }


  /* TableRules.js */
  .table-rules{
    font-size: 0.75em;
    margin-top: 55px;
  }
  .table-rules p:nth-child(even){
    font-size: 1.5em;
  }

  /* Card.js */
  .card{
    font-size: 0.8em;
  }

  /* Counter.js */
  .counter{
    height: 55px;
    font-size: 0.8em;
  }
  .counter-item{
    grid-template-rows: 25px 25px;
  }

  /* Bets.js */
  .bet{
    height: 50px;
    font-size: 0.8em;
  }
  .lucky-lucky{
    height: 50px;
    font-size: 0.8em;
  }


  /* Chips.js */
  .chip{
    width:20px;
    height: 20px;
    font-size: 0.7em;
  }

  /* PlayerCommands.js */
  .player-commands{
    flex-wrap: wrap;
    font-size: 0.8em;
  }
  .hit{
    width: 55px;
  }
  .stay{
    width: 55px;
  }
  .double{
    width: 55px;
  }
  .exit{
    width: 55px;
  }

  /* UserInfo.js */
  .user-info{
    font-size: 0.8em;
    height: 95px;
  }
  .user-dp{
    width: 30px;
  }
}

@media screen and (min-width: 1365px) and (max-width: 1599px){
  .App{
    display: grid;
    grid-template-columns: 80% 20%;
  }

  /* Table.js */
  .table{
    grid-template-rows: 150px 100px auto;
  }
  .players{
    bottom: 25px;
  }

  /* Dealer.js */
  .dealer-info{
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .dealer-count{
    width: 100%;
    text-align: center;
  }


  /* TableRules.js */
  .table-rules{
    font-size: 1.1em;
    margin-top: 35px;
  }
  .table-rules p:nth-child(even){
    font-size: 1.7em;
  }

  /* PlayerCommands.js */
  .player-commands{
    flex-wrap: wrap;
  }
  .hit{
    width: 70px;
  }
  .stay{
    width: 70px;
  }
  .double{
    width: 70px;
  }
  .exit{
    width: 70px;
  }

  /* UserInfo.js */
  .user-info{
    height: 125px;
  }
  .user-dp{
    width: 40px;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1919px){
  .App{
    display: grid;
    grid-template-columns: 80% 20%;
  }

  /* Table.js */
  .players{
    bottom: 20px;
  }

  /* Dealer.js */
  .dealer-info{
    margin-top: 15px;
  }

  /* TableRules.js */
  .table-rules{
    width: 100%;
    text-align: center;
    line-height: 0;
    margin-top: 25px;
    font-size: 1.4em;
  }
  .table-rules p:nth-child(even){
    font-size: 1.9em;
  }
  /* Chips.js */
  .chips{
    font-size: 0.9em;
  }

  /* PlayerCommands.js */
  .player-commands{
    font-size: 0.9em;
  }
  .hit{
    width: 55px;
  }
  .stay{
    width: 55px;
  }
  .double{
    width: 55px;
  }
  .exit{
    width: 55px;
  }
}

@media screen and (min-width: 1920px){
  .App{
    display: grid;
    grid-template-columns: 75% 25%;
  }
}


/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
